.accordian {
  padding: 0 30px 0 30px;
}

.question {
  cursor: pointer; /* Changes the cursor to a pointer when hovering */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.question:hover {
  color: var(--color-grayish-purple); /* Change this to your desired color */
}

.question-row {
  display: flex;
  justify-content: space-between;
}

hr {
  border: 0;
  height: 2px;
  background-color: rgb(245, 240, 240);
}

@media (max-width: 375px) {
  .accordian {
    padding: 0 15px 0 15px;
  }
  h3 {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.8rem;
  }
}
